<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Attendance Tracker</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datatables")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="~/Scripts/knockout-3.4.0.js"></script>
    <script type="text/javascript" src="~/Scripts/knockout-mapping.js"></script>
    <script type="text/javascript" src="~/Scripts/typeahead.js/typeahead.bundle.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datepicker-1.6.1/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
    <script type="text/javascript" src="~/Scripts/Parsley.js-2.3.13/dist/parsley.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Attendance Tracker", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Users", "Index", "User")</li>
                    <li>@Html.ActionLink("Classes", "Index", "Course")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
        @RenderBody()
</body>
</html>